@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/inter-latin-normal.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
    U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/inter-latin-ext-normal.woff2") format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7,
    U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/inter-latin-italic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
    U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/inter-latin-ext-italic.woff2") format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7,
    U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}

body {
  font-family: "Inter", "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.6;
}

#content {
  margin-top: 90px;
  margin-bottom: 90px;
  font-size: 1.6rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: #222;
  padding: 10px 20px;
  margin-top: 40px;
  color: #9d9d9d;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  & > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
  }

  @media(max-width: 768px) {
    & {
      flex-direction: column;
    }

    & > div {
      flex: none;
      width: 100%;
      margin-bottom: 5px;
    }
  }

  a {
    color: #9d9d9d;
    font-size: 30px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;

    &:hover { color: white; }
  }
}

.navbar {
  .divider-vertical {
    height: 20px;
    margin: 15px 5px;
    border-left: 1px solid #f2f2f2;
    @media(max-width: 768px) {
      & {
        display: none;
      }
    }
  }
}

.navbar-inverse {
  .divider-vertical {
    border-left-color: #9d9d9d;
  }
}

// .img-responsive {
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.people {
  h2 {
    margin-top: 50px;
  }

  .person img {
    margin-top: 20px;
  }
}

.person {
  display: flex;
  flex-direction: row;
}

.embed-container {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }
}

.paper-preview {
  img.paper {
    border: 1px solid #555;
  }

  img.award {
    position: absolute;
    z-index: 999;
    width: 20%;
    top: -15px;
    right: -15px;
  }
}

.quick-btn {
  color: #333;
  background-color: #eee;
  padding: 5px 10px 2px 10px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 5px;

  &:hover {
    background-color: #aaa;
    text-decoration: none;
    color: #333;
  }
}

pre {
  position: relative;
  padding-right: 70px;
  page-break-inside: avoid;
  word-break: keep-all;

  .copy-button {
    position: absolute;
    inset: 5px 5px auto auto;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      cursor: pointer;
    }
  }
}
