#content {
  margin-top: 90px;
  margin-bottom: 90px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: #222;
  padding: 10px 20px;
  margin-top: 40px;
  color: #9d9d9d;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media(max-width: 768px) {
    & {
      flex-direction: column;
    }

    & > div {
      margin-bottom: 5px;
    }
  }

  a {
    color: #9d9d9d;
    font-size: 30px;
    padding: 10px;
    transition: all .5s ease;

    &:hover { color: white; }
  }
}

.navbar {
  .divider-vertical {
    height: 20px;
    margin: 15px 5px;
    border-left: 1px solid #f2f2f2;
    @media(max-width: 768px) {
      & {
        display: none;
      }
    }
  }
}

.navbar-inverse {
  .divider-vertical {
    border-left-color: #9d9d9d;
  }
}

// .img-responsive {
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.people {
  h2 {
    margin-top: 50px;
  }

  .person img {
    margin-top: 20px;
  }
}

.person {
  display: flex;
  flex-direction: row;
}

.embed-container {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }
}

.paper {
  border: 1px solid #555;
}

.quick-btn {
  color: #333;
  background-color: #eee;
  padding: 2px 10px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 5px;

  &:hover {
    background-color: #aaa;
    text-decoration: none;
    color: #333;
  }
}

pre {
  position: relative;
  padding-right: 70px;
  page-break-inside: avoid;
  word-break: keep-all;

  .copy-button {
    position: absolute;
    inset: 5px 5px auto auto;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      cursor: pointer;
    }
  }
}

