#content {
  margin-top: 90px;
  margin-bottom: 90px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: #222;
  padding: 10px 20px;
  margin-top: 40px;
  color: #9d9d9d;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media(max-width: 768px) {
    & {
      flex-direction: column;
    }

    & > div {
      margin-bottom: 5px;
    }
  }

  a {
    color: #9d9d9d;
    font-size: 30px;
    padding: 10px;
    transition: all .5s ease;

    &:hover { color: white; }
  }
}

.navbar {
  .divider-vertical {
    height: 20px;
    margin: 15px 5px;
    border-left: 1px solid #f2f2f2;
  }
}

.navbar-inverse {
  .divider-vertical {
    border-left-color: #9d9d9d;
  }
}

// .img-responsive {
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.people {
  h2 {
    margin-top: 50px;
  }

  .person img {
    margin-top: 20px;
  }
}

.person {
  display: flex;
  flex-direction: row;
}

.embed-container {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }
}