<footer class="footer">
  <div class="container text-center">
    <div class="row row-md-flex-center">
      <div class="col-xs-12 col-md-5">
        <p><strong>Visit us</strong>: Uff. B305 - Viale Marconi, 5 Dalmine</p>
        <p><strong>Email</strong>: seclab <span>[at]</span> unibg <span>[dot]</span> it</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <a href="https://twitter.com/unibg_seclab" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://facebook.com/unibgseclab" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://github.com/unibg-seclab" target="_blank"><i class="fa-brands fa-github"></i></a>
      </div>
      <div class="col-xs-12 col-md-5">
        {% include mailchimp.html %}
      </div>
    </div><!-- row -->
  </div><!-- container -->
</footer>
