<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Unibg Seclab</a>
    </div>
    <div class="collapse navbar-collapse" id="thenav">
      <ul class="nav navbar-nav">
        <li><a href="/people.html">People</a></li>
        <li><a href="/documentation.html">Documentation</a></li>
      </ul>
    </div>
  </div>
</nav>
