<style> body { padding-top: 65px; } </style>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Unibg Seclab</a>
    </div>
    <div class="collapse navbar-collapse" id="thenav">
      <ul class="nav navbar-nav">
        <li><a href="/people">People</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://mosaicrown.eu" target="_blank">MOSAICrOWN</a></li>
            <li><a href="http://www.escudocloud.eu" target="_blank">ESCUDO-CLOUD</a></li>
            <li><a href="/projects/sesqlite">SeSQLite</a></li>
          </ul>
        </li>
        <li><a href="/publications">Publications</a></li>
        <li class="divider-vertical"></li>
        <li><a href="/tesi/">Progetti di Tesi</a></li>
        <li><a href="/activities">Attività</a></li>

        <li class="divider-vertical"></li>
        <li><a href="/hashcode"><strong>Google Hash Code 2022</strong></a></li>

        <li>
          <a href="https://vimvaders.github.io" title="leave me here">
            <span style="color: rgba(0, 0, 0, 0.2)">vimvaders</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
