<div class="row">
  <div class="col-xs-4 col-sm-2">
    {% if include.image %}
    {% if include.url %}<a href="{{ include.url }}">{% endif %}
    <img class="paper img-responsive" src="{{ include.image }}" />
    {% if include.url %}</a>{% endif %}
    {% endif %}
  </div>
  <div class="col-xs-8 col-sm-10">
    <b>{{ include.title }}</b>
    <p>{{ include.authors }}</p>
    {% if include.venue %}<p><i>{{ include.venue }}</i></p>{% endif %}
    {% if include.note %}<p><u>{{ include.note }}</u></p>{% endif %}
    {% if include.url %}<p><a href="{{ include.url }}">Read the paper</a></p>{% endif %}
    {% if include.icons %}
    <p style="font-size: 2em">
    {% assign icons = include.icons | split:"," %}
      {% for icon in icons %}<i class="icon {{ icon }}" style="margin: .3em"></i>{% endfor %}
    </p>
    {% endif %}
  </div>
</div>

<hr />
