<div class="row">
  <div class="col-xs-2">
    {% if include.image %}
    {% if include.website %}<a href="{{ include.website }}">{% endif %}
      <img class="person" src="{{ include.image }}" alt="{{ include.name }}" />
    {% if include.website %}</a>{% endif %}
    {% endif %}
  </div>
  <div class="col-xs-10">
    <h3>{{ include.name }}</h3>
    <p>{{ include.description }}</p>
    {% if include.website %}
    <p><a href="{{ include.website }}">Personal website </a></p>
    {% endif %}
  </div>
</div>

<hr />
