<!-- Home dei progetti di tesi -->
<div class="widget-wrapper">
    <h4 class="widget-title"><a href="{{ site.baseurl }}/tesi">Home</a></h4>
</div>
<br />

<!-- Progetti di software engineering -->
<div class="widget-wrapper">
    <h4 class="widget-title">Software Engineering</h4>
    <ul>
    {% for proj in site.thesis_projects %}
        {% unless proj.published == false %}
        {% if proj.category == "sweng" %}
        <li><h5><a href="{{ site.baseurl }}{{proj.url}}">{{ proj.title }}</a></h5></li>
        {% endif %}
        {% endunless %}
    {% endfor %}
    </ul>
</div>
<br />

<!-- Progetti di sicurezza informatica -->
<div class="widget-wrapper">
    <h4 class="widget-title">Sicurezza Informatica</h4>
    <ul>
    {% for proj in site.thesis_projects %}
        {% unless proj.published == false %}
        {% if proj.category == "security" %}
        <li><h5><a href="{{ site.baseurl }}{{proj.url}}">{{ proj.title }}</a></h5></li>
        {% endif %}
        {% endunless %}
    {% endfor %}
    </ul>
</div>
<br />
