.person {
  margin-top: 25px;
}

.paper {
  border:1px solid #555555;
}

@media (max-width: 768px) {
  [class*="col-"]:not(:last-child) {
      margin-bottom: 25px !important;
  }
}

@media (max-width: 992px) {
  [class*="col-"]:not(:last-child) {
      margin-bottom: 10px;
  }
}
