/* Patch vivus.js to also fill areas */

$fill_time:  1s;

.vivus svg.finished * {
  fill-opacity: 1;
  stroke-opacity: 0;
}

.vivus svg * {
  stroke: #000000;
  stroke-width: 2;
  stroke-opacity: 1;
  fill-opacity: 0;
  transition: fill-opacity $fill_time, stroke-opacity $fill_time;
}

.vivus svg:not(.finished) * {
  fill-opacity: 0;
  transition: fill-opacity 0s, stroke-width 0s;
}
