<div class="row">
  <div class="col-xs-4 col-sm-2">
    {% if image %}
    {% if url %}<a href="{{ url }}">{% endif %}
    <img class="paper img-responsive" src="{{ image }}" />
    {% if url %}</a>{% endif %}
    {% endif %}
  </div>
  <div class="col-xs-8 col-sm-10">
    <b>{{ title }}</b>
    <p>{{ authors }}</p>
    {% if venue %}<p><i>{{ venue }}</i></p>{% endif %}
    {% if url %}
      <p>
        <a href="{{ url }}">Paper</a>
        {% if bib %}<a href="{{ bib }}">[BibTex]</a>{% endif %}
      </p>
    {% endif %}
    {% if note %}<p>{{ note }}</p>{% endif %}
    {% if icons %}
    <p style="font-size: 2em">
    {% if github %}
      <a href="{{ github }}"><i class="icon ion-social-github" style="margin: .3em"></i></a>
    {% endif %}
    {% set icons = icons | split(pat=",") %}
      {% for icon in icons %}<i class="icon {{ icon }}" style="margin: .3em"></i>{% endfor %}
    </p>
    {% endif %}
  </div>
</div>