<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="{{get_url(path='main.css', trailing_slash=false)}}" type="text/css" />
    <link rel="stylesheet" href="{{get_url(path='ribbon.css', trailing_slash=false)}}" type="text/css" />
    <link rel="stylesheet" href="{{get_url(path='vivus.css', trailing_slash=false)}}" type="text/css" />

    <script src="{{ get_url(path='js/icons.js', trailing_slash=false)}}"></script>

    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    {% include "_nav.html" %}

    <div id="content" class="container">
    {% block content %}
    {% endblock content %}
    </div>

    {% block extra_body %}
    {% endblock extra_body %}

    {% include "_footer.html" %}
  </body>
</html>