{% macro paperinfo(paper) %}
{% set data = load_data(path="content/" ~ paper.colocated_path ~ "citation.bib", format="bibtex") %}
{% set type = data.bibliographies[0].entry_type %}
{% set tags = data.bibliographies[0].tags %}
<div class="row">
  <div class="col-xs-4 col-sm-2">
    <a href="https://cs.unibg.it/seclab-papers/{{ paper.extra.csunibg }}.pdf">
      <img class="paper" src="https://cs.unibg.it/seclab-papers/{{ paper.extra.csunibg }}.jpg" />
    </a>
  </div>
  <div class="col-xs-8 col-sm-10">
    <p>
      <b>{{ paper.title }}</b>
    </p>
    <p>
      {{ paper.taxonomies.authors | join(sep=", ") }}
    </p>
      <p>
        {% if type == "inproceedings" %}
          <i>In {{ tags.booktitle | replace(from="Proceedings", to="Proc.") }}</i><br />
          <i>{{ tags.location }}, {{ tags.month }} {{ tags.day }}, {{ tags.year }}</i>
        {% elif type == "article" %}
          <i>In {{ tags.journal }}</i><br />
          <i>{{ tags.month }} {{ tags.year }}</i>
        {% elif type == "incollection" %}
          <i>{{ tags.booktitle }}, {{ tags.editor }} (eds.), {{ tags.publisher }}</i>
          <i>{{ tags.year }}</i>
        {% endif %}
      </p>
    <p>
      <a href="{{ paper.permalink }}">More info<a/><br />
    </p>
    <p>
      <a class="quick-btn" href="https://cs.unibg.it/seclab-papers/{{ paper.extra.csunibg }}.pdf">PDF</a>
      <a class="quick-btn" href="{{ paper.permalink }}citation.bib">BibTeX</a>
      <span class="quick-btn" onclick="copyBib(this, '{{ paper.permalink }}')">Cite</span>
    </p>
    {% if paper.extra.note %}<p>{{ paper.extra.note | safe }}</p>{% endif %}
    <p style="font-size: 2em; display: flex; align-items: center;">
    {% if paper.extra.github %}
      <a href="https://github.com/{{ paper.extra.github }}" style="text-decoration: none">
        <i class="icon ion-social-github" style="margin: .3em"></i>
      </a>
    {% endif %}
    {% if paper.extra.icons %}
    {% for icon in paper.extra.icons %}
      {% set parts = icon | split(pat=",") %}
      {% set name = parts[0] %}
        <i class="icon {{ name }}" style="margin: .3em"></i>
    {% endfor %}
    </p>
    {% endif %}
  </div>
</div>
<hr />
{% endmacro paperinfo %}
