{% extends "section.html" %}

{% block section_content %}
<div class="people">
{% for person in section.pages | filter(attribute="extra.active", value=true) %}
  <div class="person row">
    <div class="col-xs-4 col-sm-2">
      <img src="/people/{{ person.slug }}/image.jpg" />
    </div>
    <div class="col-xs-8 col-sm-10">
      <h3>{{ person.title }}</h3>
      <p>
        {% if person.content %}
          {{ person.content | safe }}
        {% else %}
          This member prefers to keep an aura of mystery.
        {% endif %}
      </p>
      {% if person.extra.website %}
        <p>
          <a href="{{ person.extra.website }}">Personal website</a>
        </p>
      {% endif %}
      {% if person.extra.authorname %}
        <p>
          <a href="/authors/{{ person.extra.authorname }}">Publications</a>
        </p>
      {% endif %}
    </div>
  </div>
  <hr />
{% endfor %}

<h2>Former members</h2>
{% for person in section.pages | filter(attribute="extra.active", value=false) %}
  <div class="person row">
    <div class="col-xs-4 col-sm-2">
      <img src="/people/{{ person.slug }}/image.jpg" />
    </div>
    <div class="col-xs-8 col-sm-10">
      <h3>{{ person.title }}</h3>
      <p>
        {{ person.content | default(value="This member prefers to keep an aura of mystery.") | safe }}
      </p>
      {% if person.extra.website %}
        <p>
          <a href="{{ person.extra.website }}">Personal website</a>
        </p>
      {% endif %}
    </div>
  </div>
  <hr />
{% endfor %}

<h2>Alumni</h2>
<p>
We would also like to thank all the alumni who collaborated to our projects. A special mention to:
{{ section.extra.alumni | sort | join(sep=", ") }}.  
</div>
{% endblock section_content %}
