{% extends "section.html" %}

{% block section_content %}
{% set url_base = "https://cs.unibg.it/seclab-papers" %}
{% for paper in section.pages | sort(attribute="date") | reverse %}
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <a href="{{ url_base }}/{{ paper.extra.csunibg }}.pdf">
        <img class="paper" src="{{ url_base }}/{{ paper.extra.csunibg }}.jpg" />
      </a>
    </div>
    <div class="col-xs-8 col-sm-10">
      <p>
        <b>{{ paper.title }}</b>
        {% set id = paper.slug %}
        {% set author = paper.taxonomies.authors | join(sep=" and ") %}
        {% set year = paper.taxonomies["publication-year"][0] %}
        {% set venue = paper.extra.venue %}
        <span class="cite-quick-btn" onclick="copyBib(this, '{{ paper.permalink }}')">Cite</span>
      </p>
      <p>
        {{ paper.taxonomies.authors | join(sep=", ") }}
      </p>
      {% if paper.extra.venue %}
        <p>
          <i>in {{ paper.extra.venue | replace(from="Proceedings", to="Proc.") }}<br />
             {% if paper.extra.where %}{{ paper.extra.where }}, {% endif %} {{ paper.extra.when }}
          </i>
        </p>
      {% endif %}
      <p>
        <a href="{{ paper.permalink }}">More info<a/><br />
        <a style="margin-right: 5px;" href="{{ url_base }}/{{ paper.extra.csunibg }}.pdf">PDF</a>
        [<a href="{{ paper.permalink }}/citation.bib">BibTeX</a>]
      </p>
      {% if paper.extra.note %}<p>{{ paper.extra.note | safe }}</p>{% endif %}
      {% if paper.extra.icons %}
      <p style="font-size: 2em">
      {% if paper.extra.github %}
        <a href="https://github.com/{{ paper.extra.github }}" style="text-decoration: none">
          <i class="icon ion-social-github" style="margin: .3em"></i>
        </a>
      {% endif %}
      {% for icon in paper.extra.icons %}
        {% set parts = icon | split(pat=",") %}
        {% set name = parts[0] %}
          <i
            class="icon {{ name }}"
            {% if parts | length > 1 %}data-fa-transform="{{ parts[1] }}"{% endif %}
            style="margin: .3em"></i>
      {% endfor %}
      </p>
      {% endif %}
    </div>
  </div>
  <hr />
{% endfor %}
{% endblock section_content %}
