---
layout: default
---

<div class="row-offcanvas row-offcanvas-left">
  <div class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas" id="sidebar">
    <div class="sidebar">
       {% if page.sidebar %}{% include {{ page.sidebar }} %}{% endif %}
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9">
    <p class="visible-xs">
      <button type="button" class="btn btn-inverse btn-sm" data-toggle="offcanvas">&#9658; Menu</button>
    </p>
    <div class="content">
      {{ content }}
    </div>
  </div>
</div>
